@charset "UTF-8";
.loginBox{
	padding-top		: 150px;
	margin			: 0 auto;
	display			: block;
	align-content	: center;
	width			: 300px;
}
.formItem {
	width			: 100%;
	margin			: 10px;
	display			: inline-block;
	text-align		: center;
}
.formItem input[type="text"],.formItem input[type="password"] {
	width			: 300px;
}
.formItem input[type="submit"], .formItem a[href="/user/join"] {
	width			: 120px;
    text-align		: center !important;
}
