@charset "UTF-8";

* {
	color 			: #FFFFFF;
}
body {
	background-color: #000000;
}

.navbar-flat {
  background-color	: #000000;
  right 			: 10em;
}

.inline.right {
    display			: inline;
    float			: right;
    margin-right	: 0;
}

.navbar-global .navbar-user > li > a
{
  color				: white;
}

.navbar-primary {
  border-radius		: 0.5em;	
  background-color	: #333;
  bottom			: 0px;
  left				: 9px;
  position			: absolute;
  top				: 51px;
  width				: 200px;

}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin			:0; 
  padding			:0;
  list-style		: none;
}

.navbar-primary-menu li a {
  display			: block;
  padding			: 10px 18px;
  text-align		: left;
  border-bottom		:solid 1px #444;
  color				: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color	: #000;
  text-decoration	: none;
  color				: white;
}

/* 바디 css */

.main-content {
  margin-top		: 60px;
  margin-left		: 200px;
  padding			: 20px;
}

.body-content {
	display: inline-block;
    width: 1300px;
    heigth: 100%;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
	background-color: white;
}

.infomation {
	color: white;
	background-color: black;
}

.infoBox {
	background-color: gray;
	border: 1px solid white;
	text-align: center;
}

.boxWrapper {
	display: inline-block;
	width: 100px;
}

.numBox {
	color: black;
	background-color: gainsboro;
	border: 1px solid white;
	padding: 1em;
	margin: 1em;
}

.chartBox {
	display: inline-block;
	border: 1px solid gray;
	padding: 1em;
	margin: 1em;
	color: black;
	margin-left: 3em;
	margin-right: 3em;
}

/* 이름 변경 */
.test {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.infomationWith {
	color: white;
	background-color: black;
	margin-top : 1em;
}
	
.blackBox {
	background-color: black;
	color: white;
	text-align: center;
	margin-right: 1em;
}

.whiteBox {
	background-color: white;
	color: black;
	border: 1px solid black;
	text-align: center;
	margin-right: 1em;
}
		
.defaultBox {
	display: inline-block;
	border: 1px solid gray;
	padding: 1em;
	color: black;
}