@charset "UTF-8";

* {
	color 			: #FFFFFF;
}
body {
	background-color: #000000;
}

.navbar-flat {
  background-color	: #000000;
  right 			: 10em;
}

.inline.right {
    display			: inline;
    float			: right;
    margin-right	: 0;
}

.navbar-global .navbar-user > li > a
{
  color				: white;
}

.navbar-primary {
  border-radius		: 0.5em;	
  background-color	: #333;
  bottom			: 0px;
  left				: 9px;
  position			: absolute;
  top				: 51px;
  width				: 200px;

}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin			:0; 
  padding			:0;
  list-style		: none;
}

.navbar-primary-menu li a {
  display			: block;
  padding			: 10px 18px;
  text-align		: left;
  border-bottom		:solid 1px #444;
  color				: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color	: #000;
  text-decoration	: none;
  color				: white;
}

/* 바디 css */

		/* 메인 */
		
.forSizing-mainChart {
	min-height : 36em;	
}	

#sizing-first {
	font-size : 0.99em;
}

#sizing-second {
	font-size : 0.98em;
}

.main-content {
  margin-top		: 60px;
  margin-left		: 200px;
  padding			: 20px;
}

.body-content {
	display: inline-block;
    width: 1300px;
    heigth: 100%;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
	background-color: white;
}

.infomation {
	color: white;
	background-color: black;
}

.infoBox {
	background-color: gray;
	border: 1px solid white;
	text-align: center;
}

.boxWrapper {
	display: inline-block;
	width: 100px;
}

.numBox {
	color: black;
	background-color: gainsboro;
	border: 1px solid white;
	padding: 1em;
	margin: 1em;
}

.chartBox {
/* 	display: inline-block; */
	border: 1px solid gray;
/* 	padding: 1em; */
/* 	margin: 1em; */
	color: black;
/* 	margin-left: 3em; */
/* 	margin-right: 3em; */
	overflow : hidden;
	height : auto;
}

.w-5 {
	width : 5%;
}

.w-15 {
	width  : 15%;
}

.w-20 {
	width : 20%;
}

/* 수정 필요 */
.marginForBox {
	margin : 2em;
}

/* 이름 변경 */
.test {
	display: inline-block;
	text-align: center;
}

.alignCenter {
	display: block;
	text-align: center;
}

.inline-block {
	display: inline-block;
}

.infomationWith {
	color: white;
	background-color: black;
	margin-top : 1em;
}
	
.blackBox {
	background-color: black;
	color: white;
	text-align: center;
	margin-right: 1em;
}

.whiteBox {
	background-color: white;
	color: black;
	border: 1px solid black;
	text-align: center;
	margin-right: 1em;
}
		
.defaultBox {
	display: inline-block;
	border: 1px solid gray;
	padding: 1em;
	color: black;
}

		/* user_view */

.view-form-row {
/* 	width: 100%; */
	margin: 1em;
}

.view-form-row .view-form-label {
	display: inline-block;
	text-align : center;
	width: 37%;
	margin-right: 5px;
}


.view-form-row .view-form-input {
	width: 60%;
}

.viewUserBox {
	height: 48.2em;
}
.viewUserBtn{ 
    bottom: -30%;
    text-align: center;
    position: relative;
}


		/* project_view */
.viewProBox {
	height: 44em;
	overflow: hidden;
}
.viewProBtn{ 
    text-align: right;
    position: relative;
}

.viewTwinBox {
	display: inline-block;
	border: 1px solid gray;
	padding: 1em;
	margin: 1em;
	color: black;
	margin-left: 3em;
	margin-right: 3em;
	height: 39.5em;
}

.forPaging{
	margin : 8em;
}

/* notice */
.forSize-first {
	min-height: 17em;
}

.forSize-second {
	width : 80%;
	height: 240px;
	overflow-y : hidden;
}

.div-scroll {
	overflow-y : scroll;
	height : 200px;
}

.table.classic>thead th:first-child, .table.classic>tbody>tr>td:first-child {
	width : 80px;
	text-align: center;
}

.table.classic>thead th:last-child, .table.classic>tbody>tr>td:last-child {
	width: 100px;
	text-align: center;
}


.noticeBtn {
	text-align: right;
    position: relative;
    margin: 2em;
}	


		/* user_text */

.forSizing-uTable {
	min-height: 23em;
}

.forSizing-uPaging {
	margin : 5em;
}

/* project_text */

.forSizing-pPaging {
	margin : 4.9em;
}

		/* 셀렉트 박스 */

.forDisplay-body-first {
	display : contents;
}

.forDisplay-body-second {
	display : block;
	padding : 20px;
}		
		

.forSizing-input {
	width : 70%;
/* 	margin-left : 1em; */
	color : black;
}

.forSizing-btn-first{
/* 	margin-left: 1em; */
	width : 179px;
}

.forSizing-li {
	 list-style: none;
	 display: list-item;
	 margin-left: 50px;
}

/* project_chart */
.forSizing-chart {
	min-height: 27em;
}

.color-date {
	color : black;
}

.margin-a {
	margin-left : 5%;
}

.float-left {
	float : left;
}

/* notice */
.property-container {
	width: 500px;
	height: 500px;
	position: relative;
	overflow: auto;
	border: 1px solid #ececec;
}

.property-container h1 {
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 0px;
}

