@charset "UTF-8";

* {
	color: #FFFFFF;
}

body {
	background-color: #000000;
}

.header {
	padding: 10px;
}

.headerLogo {
	float: left
	width: 150px;
	height: 50px;
}

.menu-right {
	padding: 10px;
}
.activityLog{
	overflow-y		: scroll;
	height			: 500px;
	margin-top		: 10px;
	padding			: 5px;
	border			: 1px solid #ccc;
	min-height		: 30em;
}
.activityLog::-webkit-scrollbar { 
    display: none; 
}

.footer {
	width: 100%;
	height: 10em;
	background-color: #333;
}

/* 공통 */
.alignCenter {
	display: block;
	text-align: center;
}

.mt-1 {
	margin-top: 1em;
}
.mb-1 {
	margin-bottom: 1em;
}

.clearfix::after {
	content: "";
	clear: both;
	z-index: -1;
}
/*공통end  */

/* Issue create by Jihoon Jeong  */
/* Issue - common */

.issueHeading {
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid #999;
}

.btnMore {
	float: right;
	margin-top: 3px;
}

/* Issue - main  */
.issueHeadline {
	padding: 10px;
}

.issueHeadline .twidth {
	width: 30%;
}

.myIssue {
	padding: 10px;
}

.myIssue .myCols-1 {
	width: 10%;
}

.myIssue .myCols-2 {
	width: 15%;
}

.myIssue .myCols-3 {
	width: 5%;
}

.myIssue .myIssueStage {
	display: block;
	text-align: center;
}

.myIssue .myIssueStageBtn {
	margin-left: 5px;
	margin-right: 5px;
}

/* Issue - create */
.issue-form-row {
	width: 100%;
	margin: 1em;
}

.issue-form-row .issue-form-label {
	display: inline-block;
	width: 15%;
	margin-right: 5px;
}

.issue-form-row .issue-form-input {
	width: 60%;
}

/* Project */
.ProjectBoxing {

	background-color: #6e6f737d;
	margin: 0.65em;
	margin-left: 0.05em;
	height: auto;
}

.ProjectBox {
    background-color: #9c75ec;
    background-image: -moz-linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: -webkit-linear-gradient(top,#4b3d69 0,#885ED5 100%);
   
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px inset;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(64, 64, 64);
    border-image: initial;
 	border-radius: 15px;
	margin: 2.5em;
	height: 15em;
}


.boxbox {
 
	margin: 2.5em;
	height: 15em;
}

.crb {
	font-size: 50px;
	top: 0.5em; 
	position: relative;     
	margin-bottom: 10px;"
}

.CreateProjectBox {
	margin : 0.7em;
    color: #fff;
/*     border: 1px solid #9663f4; */
    background-color: #9c75ec;
    background-image: -moz-linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: -webkit-linear-gradient(top,#4b3d69 0,#885ED5 100%);
    background-image: -o-linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: -ms-linear-gradient(top,#9c75ec 0,#885ED5 100%);
	padding: 0 15px;
    height: 47.5%;
    text-align: center;
 
    top:50%
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-weight: bold;
}


.CreateProjectBox2 {
	margin : 0.7em;
    color: #fff;
/*     border: 1px solid #9663f4; */
    background-color: #ddd2f4;
    background-image: -moz-linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: -webkit-linear-gradient(top,#e2233e 0,#d66b92ba 100%);
    background-image: -o-linear-gradient(top,#9c75ec 0,#885ED5 100%);
    background-image: -ms-linear-gradient(top,#9c75ec 0,#885ED5 100%);
	padding: 0 15px;
    height: 47.5%;
    text-align: center;
 
    top:50%
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-weight: bold;
}
}

.ProjectNav {
	background-image: -webkit-linear-gradient(top, #272727 0, #111 100%);
	border: 1px solid #404040;
	border-radius: 5px;
	margin: 0.65em;
	margin-left: 0.05em;
	height: auto;
}

.ProjectCreateWindow {
	background-color: green;
	border: 1px solid gray;
}

#ProjectNavName {
	margin: 0.5em auto;
	margin-left: 1em;
}

#ProjectCreateForm .tr {
	color: red !important;
}

/* Project */
.marquee {
  height: 25px;
  width: 80%;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

